<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>buscar asignatura </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>



    <form method="post" action="/verpublicacionasig">

        <label for="user" class="form-label">Seleccione su asignatura</label>
        <select left class="form-control" id="asignatura" name="asignatura">
          <option value="1" name="matematicas"> Matematicas </option>
          <option value="2" name="lenguaje"> Lenguaje </option>
          <option value="3" name="biologia">Biología </option>
          <option value="4" name="fisica">Física </option>
          <option value="5" name="quimica">Química </option>
          </select> 
          <button type="submit" class="btn btn-primary" >Buscar asignatura</button>
      </form>    


</head>
<body>
    
</body>



</html>